code/GatewayFlow.json
[{"id":"d30f58c.ab8cea8","type":"tab","label":"Gateway","disabled":false,"info":""},{"id":"64511b94.a2e9e4","type":"tab","label":"Cumulocity","disabled":false,"info":""},{"id":"8c2a4b2d.14f948","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"f4b63cc6.e4a628","type":"mqtt-broker","name":"ha2","broker":"192.168.68.111","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5048601129704fa1","type":"mqtt-broker","name":"","broker":"mqtt.cumulocity.com","port":"1883","clientid":"PiGatewayDevice","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a2ae59c.1e436a8","type":"mqtt-broker","name":"","broker":"192.168.68.111","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"45623f3d.9b70d","type":"serial out","z":"d30f58c.ab8cea8","name":"","serial":"8c2a4b2d.14f948","x":380,"y":440,"wires":[]},{"id":"29cc82d9.e9028e","type":"serial in","z":"d30f58c.ab8cea8","name":"","serial":"8c2a4b2d.14f948","x":150,"y":560,"wires":[["30f2932b.a47654"]]},{"id":"c2f9729a.0c5ed","type":"usbcamera","z":"d30f58c.ab8cea8","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"3","name":"","x":2210,"y":360,"wires":[["9142ede4.fdd448","1cab3449.eccbec","eeb0eceb.5af0c8"]]},{"id":"2290890f.bf647e","type":"inject","z":"d30f58c.ab8cea8","name":"test camera","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":2190,"y":300,"wires":[["c2f9729a.0c5ed"]]},{"id":"9142ede4.fdd448","type":"base64","z":"d30f58c.ab8cea8","name":"","action":"str","property":"payload","x":2440,"y":420,"wires":[["10082bdd.0510ec"]]},{"id":"10082bdd.0510ec","type":"template","z":"d30f58c.ab8cea8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"480px\" height=\"640px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":2680,"y":420,"wires":[["34f1585c.8ec998"]]},{"id":"30f2932b.a47654","type":"switch","z":"d30f58c.ab8cea8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Light","vt":"str"},{"t":"cont","v":"Gas","vt":"str"},{"t":"cont","v":"Water","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":560,"wires":[["917951cd.9dd45"],["9c1288c1.2947b8"],["cf3f4530.9b46a8"]]},{"id":"7a919882.c8df98","type":"delay","z":"d30f58c.ab8cea8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1900,"y":300,"wires":[["c2f9729a.0c5ed"]]},{"id":"917951cd.9dd45","type":"split","z":"d30f58c.ab8cea8","name":"","splt":"7","spltType":"len","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":510,"y":500,"wires":[["83dc3d56.1aeeb"]]},{"id":"cf3f4530.9b46a8","type":"split","z":"d30f58c.ab8cea8","name":"","splt":"7","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":620,"wires":[["aa1dd53.5228828"]]},{"id":"9c1288c1.2947b8","type":"split","z":"d30f58c.ab8cea8","name":"","splt":"5","spltType":"len","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":560,"wires":[["79e9639.0d4899c"]]},{"id":"1306d0e5.a9d967","type":"mqtt in","z":"d30f58c.ab8cea8","name":"ArdMsg","topic":"smart/factory/message","qos":"2","datatype":"auto","broker":"f4b63cc6.e4a628","x":130,"y":440,"wires":[["30f2932b.a47654","45623f3d.9b70d"]]},{"id":"aa1dd53.5228828","type":"mqtt out","z":"d30f58c.ab8cea8","name":"ArdHum","topic":"smart/factory/message/water","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":680,"y":620,"wires":[]},{"id":"83dc3d56.1aeeb","type":"mqtt out","z":"d30f58c.ab8cea8","name":"ArdLight","topic":"smart/factory/message/light","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":680,"y":500,"wires":[]},{"id":"79e9639.0d4899c","type":"mqtt out","z":"d30f58c.ab8cea8","name":"ArdGas","topic":"smart/factory/message/gas","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":680,"y":560,"wires":[]},{"id":"80f8ea8.936cd18","type":"mqtt in","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message/picture","qos":"2","datatype":"auto","broker":"f4b63cc6.e4a628","x":1920,"y":360,"wires":[["c2f9729a.0c5ed"]]},{"id":"34f1585c.8ec998","type":"mqtt out","z":"d30f58c.ab8cea8","name":"","topic":"smart/home/message/picture/taken","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":2970,"y":420,"wires":[]},{"id":"1cab3449.eccbec","type":"image","z":"d30f58c.ab8cea8","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"x":2600,"y":280,"wires":[]},{"id":"a1bfb3e4.9b7998","type":"mqtt in","z":"d30f58c.ab8cea8","name":"NMcu","topic":"smart/factory/hum/message","qos":"2","datatype":"auto","broker":"f4b63cc6.e4a628","x":130,"y":700,"wires":[["8f3634ec.07505"]]},{"id":"eeb0eceb.5af0c8","type":"change","z":"d30f58c.ab8cea8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Somebody at the door!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2460,"y":360,"wires":[[]]},{"id":"d96c993.75a2ae8","type":"slack","z":"d30f58c.ab8cea8","name":"Alarm on Slack","channelURL":"https://hooks.slack.com/services/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","username":"Hans","emojiIcon":"","channel":"","x":2700,"y":360,"wires":[]},{"id":"8f3634ec.07505","type":"delay","z":"d30f58c.ab8cea8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":700,"wires":[["62150d44.a133bc"]]},{"id":"1f6ad833cbe8a416","type":"mqtt out","z":"64511b94.a2e9e4","name":"","topic":"s/us","qos":"","retain":"","broker":"5048601129704fa1","x":1470,"y":620,"wires":[]},{"id":"ca4d1f76ea70dc69","type":"mqtt in","z":"64511b94.a2e9e4","name":"ArdHum","topic":"smart/factory/message/water","qos":"2","datatype":"auto","broker":"a2ae59c.1e436a8","x":80,"y":360,"wires":[["84761917a3a5676a","68e193e4.2c985c"]]},{"id":"6a3301ada32532c0","type":"inject","z":"64511b94.a2e9e4","name":"Setup Condensation","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"s/us","payload":"200,Condensation,mg,1000,mg","payloadType":"str","x":1270,"y":780,"wires":[["1f6ad833cbe8a416"]]},{"id":"84761917a3a5676a","type":"template","z":"64511b94.a2e9e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"200,Condensation,mg,{{payload}},mg","output":"str","x":280,"y":380,"wires":[["efaffe427bd99135"]]},{"id":"efaffe427bd99135","type":"switch","z":"64511b94.a2e9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Water&#x3D","vt":"str"},{"t":"cont","v":"Light&#x3D","vt":"str"},{"t":"cont","v":"Gas&#x3D","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":720,"wires":[[],[],[],["1f6ad833cbe8a416"]]},{"id":"33dc8fcaaac5eb25","type":"mqtt in","z":"64511b94.a2e9e4","name":"ArdGas","topic":"smart/factory/message/gas","qos":"2","datatype":"auto","broker":"f4b63cc6.e4a628","x":70,"y":640,"wires":[["f9165a779ebd73c4","c1d6a63.c066858"]]},{"id":"f9165a779ebd73c4","type":"template","z":"64511b94.a2e9e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"200,GasIntensity,mg/m3,{{payload}},mg/m3\n\n","output":"str","x":280,"y":660,"wires":[["efaffe427bd99135"]]},{"id":"6db6f6fe48db0a52","type":"inject","z":"64511b94.a2e9e4","name":"Setup GasIntensity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"s/us","payload":"200,GasIntensity,mg/m3,1000,mg/m3","payloadType":"str","x":1270,"y":740,"wires":[["1f6ad833cbe8a416"]]},{"id":"ab8e0d8d.58fd38","type":"mqtt in","z":"64511b94.a2e9e4","name":"ArdLight","topic":"smart/factory/message/light","qos":"2","datatype":"auto","broker":"a2ae59c.1e436a8","x":80,"y":500,"wires":[["287f3a74.b2ae76","dec0b688.db9bf"]]},{"id":"cb1227a8.e5f628","type":"inject","z":"64511b94.a2e9e4","name":"Setup Lightintensity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"s/us","payload":"200,LightIntensity,Lux,1000,Lux","payloadType":"str","x":1270,"y":820,"wires":[["1f6ad833cbe8a416"]]},{"id":"287f3a74.b2ae76","type":"template","z":"64511b94.a2e9e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"200,LightIntensity,Lux,{{payload}},Lux\n","output":"str","x":280,"y":520,"wires":[["efaffe427bd99135"]]},{"id":"ebabee26.668af8","type":"inject","z":"64511b94.a2e9e4","name":"SetDevice","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"s/us","payload":"100,PiGatewayDevice,c8y_PiGWdevice","payloadType":"str","x":1300,"y":680,"wires":[["1f6ad833cbe8a416"]]},{"id":"60177dde.8da30c","type":"inject","z":"64511b94.a2e9e4","name":"Set Critical alarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"s/us","payload":"301,gpio_critical,There is a GPIO alarm","payloadType":"str","x":1280,"y":960,"wires":[["1f6ad833cbe8a416"]]},{"id":"3d23dedb.b8d21a","type":"inject","z":"64511b94.a2e9e4","name":"Clear Critcal Alarm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"306,Critical Alarm,too much sunlight,Relay activated to close sun protection!!","payloadType":"str","x":1270,"y":920,"wires":[["1f6ad833cbe8a416"]]},{"id":"58cb49e4.ba4788","type":"switch","z":"64511b94.a2e9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"30","vt":"num","v2":"35","v2t":"num"},{"t":"gte","v":"36","vt":"num"},{"t":"lte","v":"29","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":620,"wires":[["c7691061.8b2998","59702932.75e358"],["2dd19b48.05afb4"],["59702932.75e358"]]},{"id":"62c5e3b9.86fca4","type":"template","z":"64511b94.a2e9e4","name":"Set critical alarm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"301,Critical Alarm,too much sunlight,Relay activated to close sun protection!!\n\n","output":"str","x":670,"y":480,"wires":[["bc9aa83a.a990b8","46f577d6.ef7c98","3c263435.1ba314"]]},{"id":"7a1564f7.3868ec","type":"template","z":"64511b94.a2e9e4","name":"Set warning","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"304,Sunlight is increasing!\n\n","output":"str","x":650,"y":440,"wires":[["8516178d.70687"]]},{"id":"c1d6a63.c066858","type":"switch","z":"64511b94.a2e9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Gas","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":620,"wires":[[],["58cb49e4.ba4788"]]},{"id":"a8806b9.6841d98","type":"template","z":"64511b94.a2e9e4","name":"clear alarm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"306,Critical Alarm","output":"str","x":650,"y":520,"wires":[["1f6ad833cbe8a416"]]},{"id":"ee39ebb5.fed6e8","type":"inject","z":"64511b94.a2e9e4","name":"Clear Warning Gasintensity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"306,Gasintensity is increasing!","payloadType":"str","x":1250,"y":1040,"wires":[["1f6ad833cbe8a416"]]},{"id":"49eb446.436f23c","type":"switch","z":"64511b94.a2e9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"35","vt":"num","v2":"54","v2t":"num"},{"t":"gte","v":"55","vt":"num"},{"t":"lte","v":"34","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":340,"wires":[["ab0a9bc2.b0089","326f7220.da80ae"],["139ced27.10d7bb"],["326f7220.da80ae"]]},{"id":"139ced27.10d7bb","type":"template","z":"64511b94.a2e9e4","name":"Set critical alarm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"301,Critical Alarm,Condensation is too high, ventilation is started!!\n\n","output":"str","x":670,"y":340,"wires":[["71661f08.edd018","aa0898ae.e83918","4ec72c40.32c13c"]]},{"id":"ab0a9bc2.b0089","type":"template","z":"64511b94.a2e9e4","name":"Set warning","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"304,Condensation is increasing!\n\n","output":"str","x":650,"y":300,"wires":[["18553f1d.7bfe69"]]},{"id":"68e193e4.2c985c","type":"switch","z":"64511b94.a2e9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Water","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":340,"wires":[[],["49eb446.436f23c"]]},{"id":"326f7220.da80ae","type":"template","z":"64511b94.a2e9e4","name":"clear alarm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"306,Critical Alarm","output":"str","x":650,"y":380,"wires":[["1f6ad833cbe8a416"]]},{"id":"71661f08.edd018","type":"template","z":"64511b94.a2e9e4","name":"Start ventilation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"r","output":"str","x":1460,"y":420,"wires":[["80520da5.ef5f5"]]},{"id":"fb92e3de.754098","type":"template","z":"64511b94.a2e9e4","name":"Stop ventilation","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"s","output":"str","x":1460,"y":500,"wires":[["80520da5.ef5f5"]]},{"id":"f7b659e0.cde208","type":"switch","z":"64511b94.a2e9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"250","v2t":"num"},{"t":"gte","v":"251","vt":"num"},{"t":"lte","v":"199","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":480,"wires":[["7a1564f7.3868ec","a8806b9.6841d98"],["62c5e3b9.86fca4"],["a8806b9.6841d98"]]},{"id":"2dd19b48.05afb4","type":"template","z":"64511b94.a2e9e4","name":"Set critical alarm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"301,Critical Alarm,Gasintensity is too high, ventilation is started!!\n\n","output":"str","x":670,"y":620,"wires":[["71661f08.edd018","4ec72c40.32c13c","d097e99.a875098"]]},{"id":"c7691061.8b2998","type":"template","z":"64511b94.a2e9e4","name":"Set warning","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"304,Gasintensity is increasing!\n\n","output":"str","x":650,"y":580,"wires":[["1d91d148.a34d9f"]]},{"id":"dec0b688.db9bf","type":"switch","z":"64511b94.a2e9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Light","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":480,"wires":[[],["f7b659e0.cde208"]]},{"id":"59702932.75e358","type":"template","z":"64511b94.a2e9e4","name":"clear alarm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"306,Critical Alarm","output":"str","x":650,"y":660,"wires":[["1f6ad833cbe8a416"]]},{"id":"80520da5.ef5f5","type":"mqtt out","z":"64511b94.a2e9e4","name":"ArdMsg","topic":"smart/factory/message","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":1600,"y":100,"wires":[]},{"id":"bc9aa83a.a990b8","type":"template","z":"64511b94.a2e9e4","name":"Activate relay, closing sunprotection","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"c","output":"str","x":1530,"y":460,"wires":[["80520da5.ef5f5"]]},{"id":"46f577d6.ef7c98","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":540,"wires":[["8bd6b6a1.4dd18"]]},{"id":"8bd6b6a1.4dd18","type":"template","z":"64511b94.a2e9e4","name":"Stop relay","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"d","output":"str","x":1440,"y":540,"wires":[["80520da5.ef5f5"]]},{"id":"139ad0d7.2fe2d7","type":"mqtt in","z":"64511b94.a2e9e4","name":"","topic":"s/ds","qos":"2","datatype":"auto","broker":"5048601129704fa1","x":130,"y":40,"wires":[["ccad877d.731ef"]]},{"id":"451281c7.512","type":"mqtt in","z":"64511b94.a2e9e4","name":"","topic":"s/e","qos":"2","datatype":"auto","broker":"5048601129704fa1","x":130,"y":100,"wires":[["b52f16d7.bc0f68"]]},{"id":"4668d377.f9702c","type":"inject","z":"64511b94.a2e9e4","name":"Clear Warning Humidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"306,Condensation is increasing!","payloadType":"str","x":1260,"y":1080,"wires":[["1f6ad833cbe8a416"]]},{"id":"ccad877d.731ef","type":"change","z":"64511b94.a2e9e4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"511,PiGatewayDevice,\"501,RelayOff,d\"","fromt":"str","to":"d","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"511,PiGatewayDevice,\"501,RelayOn,c\"","fromt":"str","to":"c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":40,"wires":[["80520da5.ef5f5"]]},{"id":"b52f16d7.bc0f68","type":"debug","z":"64511b94.a2e9e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":100,"wires":[]},{"id":"63d8b54c.c7030c","type":"inject","z":"64511b94.a2e9e4","name":"Clear Warning Light","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"306,Sunlight is increasing!","payloadType":"str","x":1270,"y":1000,"wires":[["1f6ad833cbe8a416"]]},{"id":"d13fc875.729c6","type":"slack","z":"64511b94.a2e9e4","name":"Alarm on Slack","channelURL":"https://hooks.slack.com/services/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","username":"Hans","emojiIcon":":bangbang","channel":"Critical Alarm","x":1280,"y":320,"wires":[]},{"id":"6c9e40d4.621ca","type":"slack","z":"64511b94.a2e9e4","name":"Warning on Slack","channelURL":"https://hooks.slack.com/services/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","username":"Hans","emojiIcon":":warning:","channel":"","x":1290,"y":280,"wires":[]},{"id":"62150d44.a133bc","type":"mqtt out","z":"d30f58c.ab8cea8","name":"NMcuHum","topic":"smart/factory/hum","qos":"","retain":"","broker":"f4b63cc6.e4a628","x":690,"y":700,"wires":[]},{"id":"5a9ffd8c.8224f4","type":"inject","z":"64511b94.a2e9e4","name":"Setup NodeMCU","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"s/us","payload":"200,Condensation (NodeMCU),mg,1000,mg","payloadType":"str","x":1280,"y":860,"wires":[["1f6ad833cbe8a416"]]},{"id":"7ee45e5a.d432a","type":"inject","z":"d30f58c.ab8cea8","name":"send","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"49","payloadType":"str","x":530,"y":780,"wires":[["62150d44.a133bc"]]},{"id":"cc29526a.6be508","type":"mqtt in","z":"64511b94.a2e9e4","name":"NMcuHum","topic":"smart/factory/hum","qos":"2","datatype":"auto","broker":"a2ae59c.1e436a8","x":80,"y":200,"wires":[["c93af17b.aa016","d2ca34f1.71cb38"]]},{"id":"c93af17b.aa016","type":"template","z":"64511b94.a2e9e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"200,Condensation (NodeMCU),mg,{{payload}},mg","output":"str","x":640,"y":120,"wires":[["1f6ad833cbe8a416"]]},{"id":"d2ca34f1.71cb38","type":"switch","z":"64511b94.a2e9e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"35","vt":"num","v2":"74","v2t":"num"},{"t":"gte","v":"75","vt":"str"},{"t":"lte","v":"34","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":200,"wires":[["e204b045.f00688","7ffc45bf.77b52c"],["44b85d4c.f663bc"],["7ffc45bf.77b52c"]]},{"id":"44b85d4c.f663bc","type":"template","z":"64511b94.a2e9e4","name":"Set critical alarm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"301,Critical Alarm,NodeMCU Condensation is too high, ventilation is started!!\n\n","output":"str","x":670,"y":200,"wires":[["24711fee.da022","71661f08.edd018","4ec72c40.32c13c"]]},{"id":"7ffc45bf.77b52c","type":"template","z":"64511b94.a2e9e4","name":"clear alarm","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"306,Critical Alarm","output":"str","x":650,"y":240,"wires":[["1f6ad833cbe8a416"]]},{"id":"e204b045.f00688","type":"template","z":"64511b94.a2e9e4","name":"Set warning","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"304,NodeMCU Condensation is increasing!\n\n","output":"str","x":650,"y":160,"wires":[["8c69c605.8c093"]]},{"id":"4ec72c40.32c13c","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":500,"wires":[["fb92e3de.754098"]]},{"id":"8c69c605.8c093","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":160,"wires":[["6c9e40d4.621ca","1f6ad833cbe8a416"]]},{"id":"24711fee.da022","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":200,"wires":[["d13fc875.729c6","1f6ad833cbe8a416"]]},{"id":"18553f1d.7bfe69","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":300,"wires":[["6c9e40d4.621ca","1f6ad833cbe8a416"]]},{"id":"aa0898ae.e83918","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":340,"wires":[["d13fc875.729c6","1f6ad833cbe8a416"]]},{"id":"1d91d148.a34d9f","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":580,"wires":[["6c9e40d4.621ca","1f6ad833cbe8a416"]]},{"id":"d097e99.a875098","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":620,"wires":[["d13fc875.729c6","1f6ad833cbe8a416"]]},{"id":"8516178d.70687","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":440,"wires":[["6c9e40d4.621ca","1f6ad833cbe8a416"]]},{"id":"3c263435.1ba314","type":"delay","z":"64511b94.a2e9e4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":480,"wires":[["d13fc875.729c6","1f6ad833cbe8a416"]]},{"id":"e4389d7d.2be918","type":"inject","z":"64511b94.a2e9e4","name":"Clear warning NodeMCU","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"306,NodeMCU Condensation is increasing!","payloadType":"str","x":1250,"y":1120,"wires":[["1f6ad833cbe8a416"]]}]