code/LocalFlow.json
[{"id":"dde289ec.75e558","type":"tab","label":"SmartFactoryDashboard","disabled":false,"info":""},{"id":"e1aec257.c31e58","type":"mqtt out","z":"dde289ec.75e558","name":"ArdMsg","topic":"smart/factory/message","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f72a9812.b030f","x":600,"y":540,"wires":[]},{"id":"5bedaa51.f6ce8c","type":"mqtt in","z":"dde289ec.75e558","name":"ArdHum","topic":"smart/factory/message/water","qos":"2","datatype":"auto","broker":"f72a9812.b030f","nl":false,"rap":false,"rh":"0","x":120,"y":100,"wires":[["49c0b26c5711caf6"]]},{"id":"7e7832de.088d14","type":"mqtt in","z":"dde289ec.75e558","name":"ArdLight","topic":"smart/factory/message/light","qos":"2","datatype":"auto","broker":"f72a9812.b030f","nl":false,"rap":false,"rh":"0","x":120,"y":160,"wires":[["f8b380fe2bad5a66"]]},{"id":"a1c1c628.63d97","type":"mqtt in","z":"dde289ec.75e558","name":"ArdGas","topic":"smart/factory/message/gas","qos":"2","datatype":"auto","broker":"f72a9812.b030f","nl":false,"rap":false,"rh":"0","x":130,"y":220,"wires":[["c9caae699f2d3793"]]},{"id":"7f5482fd.43c4b4","type":"mqtt in","z":"dde289ec.75e558","name":"NMcuHum","topic":"smart/factory/hum","qos":"2","datatype":"auto","broker":"f72a9812.b030f","nl":false,"rap":false,"rh":"0","x":120,"y":40,"wires":[["cb11c7ea99ab5063"]]},{"id":"7fe18ac0138acc8a","type":"ui_button","z":"dde289ec.75e558","name":"","group":"291745a3.c869a2","order":2,"width":0,"height":0,"passthru":false,"label":"Condensation sensor start","tooltip":"This button activates the rain sensor for some seconds.","color":"white","bgcolor":"","icon":"mi-texture","payload":"k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, k, ","payloadType":"str","topic":"","topicType":"str","x":180,"y":420,"wires":[["e1aec257.c31e58"]]},{"id":"e863077987f5bc74","type":"ui_button","z":"dde289ec.75e558","name":"","group":"9f055271.d7586","order":2,"width":0,"height":0,"passthru":false,"label":"Light sensor start","tooltip":"This button activates the light sensor for some seconds.","color":"White","bgcolor":"","icon":"mi-lightbulb_outline","payload":"h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h,h","payloadType":"str","topic":"this button activates the lights ensor for some seconds","topicType":"str","x":210,"y":460,"wires":[["e1aec257.c31e58"]]},{"id":"ffac4e29784e66ad","type":"ui_button","z":"dde289ec.75e558","name":"","group":"57646150.de44c8","order":2,"width":0,"height":0,"passthru":false,"label":"Gas sensor start","tooltip":"This button activates the gas sensor for some seconds.","color":"White","bgcolor":"","icon":"mi-warning","payload":"i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i,i","payloadType":"str","topic":"","topicType":"str","x":220,"y":500,"wires":[["e1aec257.c31e58"]]},{"id":"2fd3bad06b233448","type":"ui_switch","z":"dde289ec.75e558","name":"","label":"White led","tooltip":"Turn on the light at the door.","group":"560184d9.2a34cc","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"a","onvalueType":"str","onicon":"","oncolor":"blue","offvalue":"b","offvalueType":"str","officon":"","offcolor":"white","x":240,"y":580,"wires":[["e1aec257.c31e58"]]},{"id":"76b0a39f12d5c72f","type":"ui_switch","z":"dde289ec.75e558","name":"","label":"Relay","tooltip":"Start the relay to control external devices","group":"560184d9.2a34cc","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"c","onvalueType":"str","onicon":"","oncolor":"","offvalue":"d","offvalueType":"str","officon":"","offcolor":"","x":250,"y":660,"wires":[["e1aec257.c31e58"]]},{"id":"fc5d8f1a90a289a7","type":"ui_switch","z":"dde289ec.75e558","name":"","label":"Yellow Led","tooltip":"Activate the yellow light at the wall.","group":"560184d9.2a34cc","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"p","onvalueType":"str","onicon":"","oncolor":"","offvalue":"q","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":230,"y":540,"wires":[["e1aec257.c31e58"]]},{"id":"845f2e7d5d4a7c57","type":"ui_switch","z":"dde289ec.75e558","name":"","label":"Fan","tooltip":"Activate the fan","group":"560184d9.2a34cc","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"r","onvalueType":"str","onicon":"","oncolor":"","offvalue":"s","offvalueType":"str","officon":"","offcolor":"","x":250,"y":620,"wires":[["e1aec257.c31e58"]]},{"id":"f8b380fe2bad5a66","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"9f055271.d7586","order":1,"width":"6","height":"6","label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":410,"y":160,"wires":[[]]},{"id":"49c0b26c5711caf6","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"291745a3.c869a2","order":1,"width":"6","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ea0607","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":420,"y":100,"wires":[[]]},{"id":"c9caae699f2d3793","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"57646150.de44c8","order":1,"width":"6","height":"6","label":"Gas","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":220,"wires":[[]]},{"id":"cb11c7ea99ab5063","type":"ui_chart","z":"dde289ec.75e558","name":"","group":"27fc1c9f.94b09c","order":4,"width":"6","height":"6","label":"NodeMCUHumidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":40,"wires":[[]]},{"id":"4bcb30942899505c","type":"inject","z":"dde289ec.75e558","name":"send values every 15 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"k,h,j,i","payloadType":"str","x":170,"y":320,"wires":[["e1aec257.c31e58"]]},{"id":"f72a9812.b030f","type":"mqtt-broker","name":"ha2","broker":"192.168.68.111","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"291745a3.c869a2","type":"ui_group","name":"Water","tab":"13a5a81.e6b8fd8","order":2,"disp":false,"width":"6","collapse":false},{"id":"9f055271.d7586","type":"ui_group","name":"Light","tab":"13a5a81.e6b8fd8","order":3,"disp":false,"width":"6","collapse":false},{"id":"57646150.de44c8","type":"ui_group","name":"Gas","tab":"13a5a81.e6b8fd8","order":1,"disp":false,"width":"6","collapse":false},{"id":"560184d9.2a34cc","type":"ui_group","name":"Controls","tab":"13a5a81.e6b8fd8","order":7,"disp":true,"width":"6","collapse":false},{"id":"27fc1c9f.94b09c","type":"ui_group","name":"NodeMCU Humidity","tab":"13a5a81.e6b8fd8","order":6,"disp":false,"width":"6","collapse":false},{"id":"13a5a81.e6b8fd8","type":"ui_tab","name":"Smart Factory Dashboard","icon":"dashboard","disabled":false,"hidden":false}]