code/MQTTFlow.json
[{"id":"fd77f939.f77978","type":"tab","label":"MQTT Flow","disabled":false,"info":""},{"id":"8b0e1824.ea64c","type":"rpi-sensehat out","z":"fd77f939.f77978","name":"","x":750,"y":180,"wires":[]},{"id":"509e7fcc.a3f18","type":"delay","z":"fd77f939.f77978","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":560,"y":120,"wires":[["d6681ed1.2f717"]]},{"id":"d6681ed1.2f717","type":"change","z":"fd77f939.f77978","name":"Clear display","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":120,"wires":[["8b0e1824.ea64c"]]},{"id":"8ea8455a.d2e21","type":"mqtt in","z":"fd77f939.f77978","name":"ArdMsg","topic":"smart/factory/message","qos":"2","datatype":"auto","broker":"a2ae59c.1e436a8","nl":false,"rap":false,"rh":"0","x":130,"y":180,"wires":[["91ceea0f.08d318"]]},{"id":"91ceea0f.08d318","type":"change","z":"fd77f939.f77978","name":"message icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,white,0-6,1,red,0,1-6,red,0-6,6,red,6,1-6,red,1,2,red,2,3,red,3,4,red,4,3,red,5,2,red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["8b0e1824.ea64c","509e7fcc.a3f18"]]},{"id":"3eb5f5e1.55342a","type":"mqtt in","z":"fd77f939.f77978","name":"NMcu","topic":"smart/factory/hum/message","qos":"2","datatype":"auto","broker":"a2ae59c.1e436a8","nl":false,"rap":false,"rh":"0","x":130,"y":120,"wires":[["91ceea0f.08d318"]]},{"id":"a2ae59c.1e436a8","type":"mqtt-broker","name":"","broker":"192.168.68.111","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""}]